# WebVPN 账号
WEBVPN_USER=
WEBVPN_PASS=

# 需要签到的 CC98 账号数量
# 只有 1 个账号就填 1，有 2 个账号就填 2，依次类推
CC98_ACCOUNT_COUNT=2

# CC98 账号 1
CC98_USER_1=
CC98_PASS_1=

# CC98 账号 2
CC98_USER_2=
CC98_PASS_2=

# 如果你还有更多账号，继续按这个格式往下加：
# CC98_USER_3=
# CC98_PASS_3=
# CC98_USER_4=
# CC98_PASS_4=
